/* ================== DATA TABLES FOR CARD PART USING SECTION 1 ================== */

div.dataTables_wrapper div.dataTables_filter {
    box-sizing: border-box;
    margin-top: -10px;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-family: poppins;
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input {
    position: absolute;
    top: -72px;
    right: 50px;
    background: #FFFFFF;
    height: 39px;
    width: 200px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 10px;
}

div.dataTables_wrapper div.dataTables_info {
    font-size: 14px;
    position: absolute;
    bottom: 10px;
}

div.dataTables_wrapper div.dataTables_paginate {
    position: absolute;
    right: 6px;
    bottom: -2px;
    /* bottom: -8px; */
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 0;
    white-space: nowrap;
    justify-content: flex-end;
}

#btnSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -72px;
    right: 7px;
    height: 39px;
    padding: 0 15px;
    background: #fff;
    color: #007bff;
    font-size: 20px;
    z-index: 9;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}


@media screen and (max-width: 700px) {
    #btnSearch {
        top: -60px;
        right: 0;
    }

    div.dataTables_wrapper div.dataTables_filter label {
        display: block;
    }

    div.dataTables_wrapper div.dataTables_filter input {
        top: -60px;
        right: 0;
        width: 99%;
        height: 39px;
        border: 1px solid #ccc;
        background-color: #fff;
        border-radius: 10px;
    }
}

@media screen and (max-width: 430px) {
    div.dataTables_wrapper div.dataTables_paginate {
        position: relative;
        /* bottom: -8px; */
    }
}